@model IEnumerable<WEA.CourseFilter.Collabration.Abstraction.OutdoorRelay.CourseBreif>

@{
    ViewData["Title"] = "CourseInformation";
    Layout = "~/Views/Shared/_userLayout.cshtml";
         int id = 0;
}
      <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">

                  <h5 class="card-title">View All Courses</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
              <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NGOName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        @foreach (var item in Model) {
                        
                        id++;

                      <tr>
                        <th scope="row">@id</th>
                        <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGOName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
                     
                        <td>     
                            <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Action</h6>
                    </li>

                    <li><a class="dropdown-item" asp-action="CourseJoin" asp-route-id="@item.CourseId">Ready to Join</a></li>
     
                   
                  </ul>
                </div></td>
                      </tr>
                  }
                    </tbody>
                  </table>

                </div>

              </div>
            </div>


