@model WEA.AccountCreation.Collabaration.Abstraction.OutDoorRelay.ProfileData

@{
    ViewData["Title"] = "ViewMyProfile";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

 <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

              

              </ul>
          
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
    

                  <h5 class="card-title">Profile Details</h5>
              
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">   @Html.DisplayFor(model => model.UserName)</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email Address</div>
                    <div class="col-lg-9 col-md-8">    @Html.DisplayFor(model => model.EmailAddress)</div>
                  </div>
                    <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email Address</div>
                    <div class="col-lg-9 col-md-8">    @Html.DisplayFor(model => model.DOB)</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Contact Number</div>
                    <div class="col-lg-9 col-md-8">  @Html.DisplayFor(model => model.Phone)</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">  @Html.DisplayFor(model => model.Line)</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">State</div>
                    <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.State)</div>
                  </div>
                         <div class="row">
                    <div class="col-lg-3 col-md-4 label">DOB</div>
                    <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.DOB)</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">City</div>
                    <div class="col-lg-9 col-md-8"> @Html.DisplayFor(model => model.City)</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Pin Code</div>
                    <div class="col-lg-9 col-md-8">   @Html.DisplayFor(model => model.PinCode)</div>
                  </div>
                    <div class="row">
                    <div class="col-lg-3 col-md-4 label">Application Status</div>
                    <div class="col-lg-9 col-md-8">   @Html.DisplayFor(model => model.Status)</div>
                  </div>
                </div>


              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
