@model IEnumerable<WEA.AuthorisedNGO.Collabration.Abstraction.OutdoorRelay.NGOBasicInformationFilter>

@{
    ViewData["Title"] = "DisplayAllNGO";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int id = 0;
}
    <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">

                  <h5 class="card-title">View All NGO</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                         <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.InaugrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
           
          
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                        @foreach (var item in Model) {
                        
                        id++;

                      <tr>
                        <th scope="row">@id</th>
                         <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
                        <td>
                @Html.DisplayFor(modelItem => item.InaugrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PinCode)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
                     
                        <td>     
                            <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Action</h6>
                    </li>

                    <li><a class="dropdown-item" asp-action="AuthorisedNGO" asp-route-id="@item.Id">Authorised</a></li>
     
                  </ul>
                </div></td>
                      </tr>
                  }
                    </tbody>
                  </table>

                </div>

              </div>
            </div>


